<div id="sidebar">
	<h1>Admin</h1>
	<a href="#" class="nav-link active">Dashboard</a>
	<a href="#" class="nav-link">Alterar Componentes</a>
	<a href="#" class="nav-link">Gerenciar Polos</a>
	<a href="#" class="nav-link">Gerenciar Usuários</a>
	<a href="#" class="nav-link">Gerenciar Cursos</a>
	<a href="#" class="nav-link">Ferramenta SQL</a>
	<br><br>
	<a href="/">Voltar para Home</a>
</div>
<div id="content">
	<section id="dashboard">
		a
	</section>
	<section id="manage-components" hidden>
		<h2>Alterar Componentes das Páginas</h2>
		<h3>Textos</h3>
		<div>
			Nome da empresa:
			<form action="/admin/update-component/defaults-name" method="post">
				<input type="text" required>
				<input type="submit">
			</form>
			<br>
			Email da empresa:
			<form action="/admin/update-component/defaults-email" method="post">
				<input type="text" required>
				<input type="submit">
			</form>
			<br>
			Telefone da empresa (padrão):
			<form action="/admin/update-component/defaults-phone" method="post">
				<input type="text" required>
				<input type="submit">
			</form>
			<br>
		</div>
		<h3>Imagens</h3>
		<div>
			Logo:
			<form action="/admin/update-component/logo" method="post">
				<input type="file" required>
				<input type="submit">
			</form>
			<br>
		</div>
		<div>
			Home:
			<div>
				Carrossel:
				<form action="/admin/update-component/home-carrousel" method="post">
					<input type="file" required>
					<input type="submit">
				</form>
				<br>
				Cursos em Destaque:
				<div>
					Curso 1:
					<form action="/admin/update-component/highlighted-course-1" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
					Curso 2:
					<form action="/admin/update-component/highlighted-course-2" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
					Curso 3:
					<form action="/admin/update-component/highlighted-course-3" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
				</div>
				Polos em Destaque:
				<div>
					Polo 1:
					<form action="/admin/update-component/highlighted-unit-1" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
					Polo 2:
					<form action="/admin/update-component/highlighted-unit-2" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
					Polo 3:
					<form action="/admin/update-component/highlighted-unit-3" method="post">
						<input type="file" required>
						<input type="submit">
					</form>
					<br>
				</div>
			</div>
		</div>
	</section>
	<section id="manage-units" hidden>
		<h2>Gerenciar Polos</h2>
    <table>
      <tr>
        <th>id</th>
        <th>nome</th>
        <th>telefone</th>
        <th>cep</th>
        <th>país</th>
        <th>estado</th>
        <th>cidade</th>
        <th>endereço</th>
      </tr>
      {{#each units}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{phone}}</td>
          <td>{{postal_code}}</td>
          <td>{{country}}</td>
          <td>{{state}}</td>
          <td>{{city}}</td>
          <td>{{address}}</td>
        </tr>
      {{/each}}
    </table>
	</section>
	<section id="manage-users" hidden>
		<h2>Gerenciar usuários</h2>
    <table>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>nome</th>
        <th>cep</th>
        <th>país</th>
        <th>estado</th>
        <th>cidade</th>
        <th>endereço</th>
      </tr>
      {{#each users}}
        <tr>
          <td>{{id}}</td>
          <td>{{email}}</td>
          <td>{{display_name}}</td>
          <td>{{postal_code}}</td>
          <td>{{country}}</td>
          <td>{{state}}</td>
          <td>{{city}}</td>
          <td>{{address}}</td>
        </tr>
      {{/each}}
    </table>
	</section>
	<section id="manage-courses" hidden>
		<h2>Gerenciar Cursos</h2>
    <a href="/admin/adicionar-curso">Adicionar novo curso</a>
    <br><br>
    <table id="courses-table">
      <tr>
        <th>Opções</th>
        <th>id</th>
        <th>id do provedor</th>
        <th>nome</th>
        <th>duração (meses)</th>
        <th>duração (horas)</th>
        <th>url</th>
        <th>inscrições abertas?</th>
        <th>grau</th>
        <th>qualificação</th>
        <th>modalidade</th>
      </tr>
      {{#each courses}}
        <tr>
          <td>
            <br>
            <a href="/admin/alterar-curso/{{id}}">Alterar</a>
            <br><br>
            <a href="/admin/remover-curso/{{id}}">Remover</a>
            <br><br>
          </td>
          <td>{{id}}</td>
          <td>{{provider_id}}</td>
          <td>{{name}}</td>
          <td>{{duration_months}}</td>
          <td>{{hours}}</td>
          <td>{{url}}</td>
          <td>{{is_available}}</td>
          <td>{{degree}}</td>
          <td>{{qualification}}</td>
          <td>{{style}}</td>
        </tr>
      {{/each}}
    </table>
	</section>
	<section id="sql-tool" hidden>
		<h2>Ferramenta SQL</h2>
		<textarea id="query"></textarea>
		<br>
		<input id="query-submit" type="submit">
		<br><br>
		Resultado:<br>
		<textarea readonly id="query-result"></textarea>
	</section>
</div>
<script src="/static/js/admin.js"></script>