<div id="sidebar">
	<h1>Admin</h1>
	<a href="/admin" class="nav-link">Dashboard</a>
	<a href="/admin/componentes" class="nav-link">Alterar Componentes</a>
	<a href="/admin/polos" class="nav-link active">Gerenciar Polos</a>
	<a href="/admin/usuarios" class="nav-link">Gerenciar Usuários</a>
	<a href="/admin/cursos" class="nav-link">Gerenciar Cursos</a>
  <a href="/admin/provedores" class="nav-link">Gerenciar Parceiros</a>
	{{!-- <a href="/admin/sql" class="nav-link">Ferramenta SQL</a> --}}
	<br><br>
	<a href="/">Voltar para Home</a>
</div>
<div id="content">
  <section id="manage-units">
		<h2>Gerenciar Polos</h2>
    <a href="/admin/adicionar-polo">Adicionar novo polo</a>
    <br><br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Opções</th>
        {{#each fields}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
      {{#each rows}}
        <tr>
          <td>
            <a href="/admin/alterar-polo/{{id}}">Alterar</a><br>
            <a href="/admin/remover-polo/{{id}}">Remover</a><br>
            <a href="/polo/{{id}}">Visitar</a><br>
            <a href="/admin/alterar-imagem-polo/{{id}}">Alterar imagem</a><br>
            {{#if hasImage}}
            <a href="/admin/remover-imagem-polo/{{id}}">Remover imagem</a>
            {{/if}}
          </td>
          {{#each values}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
	</section>
</div>
<script src="/static/js/admin.js"></script>