<!DOCTYPE html>
<html lang="pt-BR" data-theme="white">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#each styles}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <title>{{title}}</title>
</head>

<body>
  {{#if showHeader}}
    <header class="container-fluid position-fixed z-3 p-0">
      {{#if admin}}
        <div class="container-fluid bg-light" style="padding: 10px">ADMIN: <a href="/admin">Ir para console administrativa</a></div>
      {{/if}}
      <div class="bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img class="d-inline-block align-text-top" src="/static/img/logo.png" alt="Logo" wdith="30" height="24">
              &nbsp
              <h2 class="d-inline-block">{{defaults.name}}</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item mx-3">
                  <a class="nav-link" aria-current="page" href="/"><h4 class="d-inline-block">Início</h4></a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="/cursos"><h4 class="d-inline-block">Cursos</h4></a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="/polos"><h4 class="d-inline-block">Polos</h4></a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="/parceiros"><h4 class="d-inline-block">Parceiros</h4></a>
                </li>
                {{#if user}}
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/conta"><h4 class="d-inline-block">Conta</h4></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/logout"><h4 class="d-inline-block">Logout</h4></a>
                  </li>
                {{else}}
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/login"><h4 class="d-inline-block">Login</h4></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/registrar"><h4 class="d-inline-block">Criar Conta</h4></a>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main style="padding-top:120px">
      {{{body}}}
    </main>
  {{else}}
    <main>
      {{{body}}}
    </main>
  {{/if}}
  
  {{#if showFooter}}
  <footer class="container-fluid bg-primary p-5">
    <div class="row justify-content-between">
      <div class="col-9 col-md-3 text-light">
        <h3>Contate-nos:</h3>
        {{ defaults.phone }}<br>
        {{ defaults.email }}<br><br>
        <a href="/polos" class="text-light">Endereços</a>
      </div>
    </div>
  </footer>
  {{/if}}
</body>
{{#each scripts}}
  <script src="{{this}}"></script>
{{/each}}
</html>