{{#with unit}}
  <div class="container">
    <h2 class="bg-secondary-subtle p-4">Polo {{name}}</h2>
    <div class="row justify-content-between pb-5">
      {{#if description}}
        <div class="col-12 col-lg-6 px-5 pt-3" style="white-space: pre-line">
          <h3 class="mb-3">Descrição do curso</h3>
          {{description}}
        </div>
      {{/if}}
      <div class="col-12 col-lg-5 pt-3 px-5">
        <img src="/static/img/curso/{{id}}" class="bg-secondary-subtle" width="400" height="200">
        <div>Telefone: {{phone}}{{#unless phone}}{{../defaults.phone}}{{#unless ../defaults.phone}}Indisponível{{/unless}}{{/unless}}</div>
        <div>Endereço: {{address}}{{#unless address}}Indisponível{{/unless}}</div>
      </div>
    </div>
    {{!-- <div class="container">
      map
    </div> --}}
  </div>
{{/with}}