<div class="container mt-3">
  <div id="homeCarousel" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/carousel1.jpeg" class="d-block w-100 bg-secondary-subtle" height="300">
      </div>
      <div class="carousel-item">
        <img src="/static/img/carousel2.jpeg" class="d-block w-100 bg-secondary-subtle" height="300">
      </div>
      <div class="carousel-item">
        <img src="/static/img/carousel3.jpeg" class="d-block w-100 bg-secondary-subtle" height="300">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="text-center mt-5">
    <h3>Cursos em Destaque</h3>
    <br>
    <div class="row justify-content-around">
      {{#each highlightedCourses}}
        <div class="col-12 col-md-3">
          <img src="/static/img/course-{{id}}.jpeg" class="bg-secondary-subtle" width="200" height="200">
          <h5>{{name}}</h5>
        </div>
      {{/each}}
    </div>
  </section>
  <section class="text-center bg-danger mt-5 pb-4 pt-4 text-light">
    <h3>Polos</h3>
    <div class="row justify-content-around">
      {{#each units}}
        <div class="col-12 col-md-4">
          <img src="static/img/unit-{{id}}.jpeg" class="bg-secondary-subtle" width="200" height="200">
          <h5>{{name}}<br>{{address}}</h5>
        </div>
      {{/each}}
  </section>
</div>