<div>
  <h1>Cursos</h1>
</div>
<!-- Search -->
<input type="search" id="search" name="search" placeholder="Search">
<div class="control">
  {{#if prevPage}}<a class="unp-link-dark" href="/cursos/{{prevPage}}">&lt;</a>{{else}}&nbsp&nbsp{{/if}}
  &nbsp&nbsp<h3 style="display:inline">Página: {{page}}</h3>&nbsp&nbsp
  {{#if nextPage}}<a class="unp-link-dark" href="/cursos/{{nextPage}}">&gt;</a>{{else}}&nbsp&nbsp{{/if}}
</div>
<div id="courses">
  {{#each courses}}
    <div class="container bg-unp-red-1 course">
      <h4 class="bg-unp-red-1">{{name}}</h4>
      <div>Modalidade: {{style}}{{#unless style}}Indisponível{{/unless}}</div>
      <div>Grau: {{degree}}{{#unless degree}}Indisponível{{/unless}}</div>
      <div>Tipo: {{qualification}}{{#unless qualification}}Indisponível{{/unless}}</div>
      <div>Carga Horária: {{hours}}{{#unless hours}}Indisponível{{/unless}}</div>
      <div>{{#if durationMonths}}Duração: {{durationMonths}} meses{{else}}Duração: Indisponível{{/if}}</div>
      <br>
      <a href="{{url}}" class="unp-link-light active">Link</a>
    </div>
  {{/each}}
</div>
<div class="control">
  {{#if prevPage}}<a class="unp-link-dark" href="/cursos/{{prevPage}}">&lt;</a>{{else}}&nbsp&nbsp{{/if}}
  &nbsp&nbsp<h3 style="display:inline">Página: {{page}}</h3>&nbsp&nbsp
  {{#if nextPage}}<a class="unp-link-dark" href="/cursos/{{nextPage}}">&gt;</a>{{else}}&nbsp&nbsp{{/if}}
</div>
