<style>
  input {font-size: 1rem}
  #message {color: crimson}
  input[type=submit] {width: fit-content}
</style>

<div class="container">
  {{#with course}}
    <h1 style="text-align: center">Alterar curso</h1>
    <form action="/admin/alterar-curso/{{id}}" method="POST">
      Nome:<br><input name="name" value="{{name}} "><br><br>
      Duração (meses)<br><input name="durationMonths" type="number" value="{{durationMonths}}"><br><br>
      Duração (horas)<br><input name="hours" type="number" value="{{hours}}"><br><br>
      {{#if isAvailable}}
        Inscrições Abertas?<br><input name="isAvailable" type="checkbox" checked><br><br>
      {{else}}
        Inscrições Abertas?<br><input name="isAvailable" type="checkbox"><br><br>
      {{/if}}
      Grau (graduação ou pós-graduação):<br><input name="degree" value="{{degree}} "><br><br>
      Qualificação (bacharelado, tecnólogo, 2ª licenciatura):<br><input name="qualification" value="{{qualification}} "><br><br>
      Modalidade (presencial ou remoto):<br><input name="style" value="{{style}} "><br><br>
      URL:<br><input name="url" value="{{url}} "><br><br>
      {{#if isHighlighted}}
        Em destaque?<br><input name="isHighlighted" type="checkbox" checked><br><br>
      {{else}}
        Em destaque?<br><input name="isHighlighted" type="checkbox"><br><br>
      {{/if}}
      <span id="message">{{../message}}</span>
      <input type="submit" value="Enviar">
    </form>
  {{/with}}
</div>