<div class="text-center">
  <h1>Polos</h1>
</div>
<!-- Search -->
<input type="search" id="search" name="search" placeholder="Search">
<div id="units">
  {{#each units}}
    <div class="container bg-unp-red-1 unit">
      <h2 class="bg-unp-red-1">{{name}}</h2>
      <div>Endereço: {{address}} {{#if address}}{{else}}Indisponível{{/if}}</div>
      <div>Telefone: {{#if phone}}{{phone}}{{else}}{{../defaults.phone}}{{/if}}</div>
    </div>
  {{/each}}
</div>
