<div class="container mt-5 mb-5">
  <div class="text-center mb-4">
    <h1>Polos</h1>
  </div>
  <div class="container mt-5 mb-5">
    {{#each units}}
      <div class="card bg-secondary-subtle mx-auto mb-4" style="max-width:540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/img/unit-{{id}}.jpeg" class="img-fluid rounded-start bg-secondary">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class=" card-title">{{name}}</h4>
              <div>Endereço: {{address}} {{#if address}}{{else}}Indisponível{{/if}}</div>
              <div>Telefone: {{#if phone}}{{phone}}{{else}}{{../defaults.phone}}{{/if}}</div>
              <br>
              <a href="/polo/{{id}}" class="btn btn-primary">Conhecer Polo</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>