{{#with course}}
  <div class="container">
    <h3 class="bg-secondary-subtle p-4">{{name}}</h3>
    <div class="row justify-content-between pb-5">
      {{#if description}}
        <div class="col-12 col-lg-6 px-5 pt-3" style="white-space: pre-line">
          <h4 class="mb-3">Descrição do curso</h4>
          {{description}}
        </div>
      {{/if}}
      <div class="col-12 col-lg-5 pt-3 px-5">
        <img src="/static/img/curso/{{id}}" class="bg-secondary-subtle" width="400" height="200">
        <div>Modalidade: {{style}}{{#unless style}}Indisponível{{/unless}}</div>
        <div>Grau: {{degree}}{{#unless degree}}Indisponível{{/unless}}</div>
        <div>Tipo: {{qualification}}{{#unless qualification}}Indisponível{{/unless}}</div>
        <div>Carga Horária: {{hours}}{{#unless hours}}Indisponível{{/unless}}</div>
        <div>{{#if durationMonths}}Duração: {{durationMonths}} meses{{else}}Duração: Indisponível{{/if}}</div>
        <div class="mt-4">
          {{#if url}}
            <a href="{{url}}" class="btn btn-primary">Site Oficial</a>
          {{/if}}
      </div>
    </div>
  </div>
{{/with}}